.cont
{
    height: 750px;
    width: 750px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: aqua;
    row-gap: 10px;
    column-gap: 10px;
}
.gridsamp{
    background-color: brown;


}
.one{
    grid-column: 1/4;
    background-color: blue;
}
